#!/usr/bin/env zsh
# WARNING: THIS FILE IS MANAGED BY CHEZMOI

# Change bindkeys to my defaults
# https://linux.die.net/man/1/zshzle
bindkey -v
bindkey '\e[4~' end-of-line
bindkey '\e[1~' beginning-of-line
bindkey '^R' history-incremental-search-backward
bindkey "^S" history-incremental-search-forward

autoload -Uz compinit && compinit
zstyle ':completion:*' menu select
fpath+=~/.zfunc

{{ if .install_op }}
${HOME}/bin/_oplogin

load-keychain
{{- end }}

# Source all completions ######################################################
if [[ -d ${HOME}/.config/zsh/completions ]]; then
  for f in ${HOME}/.config/zsh/completions/*; do
      source "${f}"
  done
fi
###############################################################################

[[ -d "${HOME}/.local/share/zsh-autosuggestions" ]] && source "${HOME}/.local/share/zsh-autosuggestions/zsh-autosuggestions.zsh"

# Configure history ###########################################################
setopt APPEND_HISTORY \
  HIST_IGNORE_DUPS \
  HIST_IGNORE_SPACE \
  HIST_FIND_NO_DUPS \
  HIST_VERIFY \
  INC_APPEND_HISTORY_TIME
###############################################################################

export PATH=${HOME}/bin:${PYENV_ROOT}/bin:$PATH:$JAVA_HOME/bin:$MAVEN_HOME/bin:${PATH}

# Eval all teh thingz
eval "$(direnv hook zsh)"
eval "$(starship init zsh)"
eval "$(pyenv init -)"
