#!/bin/bash
set -euo pipefail

{{- if eq .chezmoi.osRelease.idLike "debian" }}

sudo apt-get update
sudo apt-get install --upgrade --yes {{ range .packages.debian.default -}}{{ . }} {{ end }}
sudo apt-get install --upgrade --yes {{ range .packages.debian.pyenv -}}{{ . }} {{ end}}
{{- if .install_docker }}
sudo apt-get install --upgrade --yes {{ range .packages.debian.docker -}}{{ . }} {{ end}}
{{ end }}
{{ end }}
