#!/usr/bin/env bash
set -euo pipefail

# This script needs to include each installer separately to perform the sha256sum, because there's no template function
# for listing a directory.
#
# Including the sha256sum of each file allows this script to "change" if _any_ of the installers change.  This means that
# all of the installers should be idempotent.

{{ $files := list "00-setup.sh" "desk.sh" "starship.sh" "fzf.sh" "difftastic.sh" "zellij.sh" "neovim.sh" "lazygit.sh" "uv.sh" "yq.sh" -}}
{{- range $files -}}
{{- $parts := list ".installers" . -}}
{{- $file := join "/" $parts -}}
# hash: {{ $file | include | sha256sum }}
echo "Running {{ . }}"
source "{{ $.chezmoi.sourceDir }}/.installers/{{ . }}"
{{ end }}

{{- if .install_docker }}
# hash: {{ include ".installers/docker.sh" | sha256sum }}
source "{{ .chezmoi.sourceDir }}/.installers/docker.sh"
{{ end }}

{{- if .install_k8s }}
# hash: {{ include ".installers/k8s.sh" | sha256sum }}
source "{{ .chezmoi.sourceDir }}/.installers/k8s.sh"
{{ end }}

{{ if eq .config "work-laptop" }}
# hash: {{ include ".installers/aws-cli.sh" | sha256sum }}
source "{{ .chezmoi.sourceDir }}/.installers/aws-cli.sh"
{{ end }}
