{{- if eq .config "work-laptop" }}
layout {
    tab name="dso" focus=true {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane split_direction="vertical" {
            pane name="dso" cwd="~/code/dso" {
                focus true
            }
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="cicd-playground" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane cwd="~/code/dso/cicd-playground" name="cicd-playground"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="baseline-images" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane cwd="~/code/dso/baseline-images" name="baseline-images"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="dso-utilities" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane cwd="~/code/dso/dso-utilities" name="dso-utilities"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="pipeline-templates" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane cwd="~/code/dso/pipeline-templates" name="pipeline-templates"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
{{- else }}
layout {
    tab name="personal" {
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        pane cwd="~/code" name="code"
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
{{ end }}
